

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* OTP Card Styles */
.otp-card-wrapper {
  position: relative;
}

.otp-card {
  width: 400px;
  border: none;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.otp-header {
  color: red;
  font-size: 20px;
}

.otp-message {
  margin-top: 10px;
}

.masked-number {
  font-weight: bold;
}

/* OTP Input Styles */
.otp-input-group {
  margin-top: 20px;
}

.otp-input {
  width: 40px;
  height: 40px;
  margin: 0 8px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.otp-input:focus {
  box-shadow: none;
  border: 2px solid red;
}

/* Button Styles */
.otp-validate-btn .otp-resend-btn{
  border-radius: 20px;
  height: 40px;
  background-color: red;
  border: 1px solid red;
  width: 140px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.otp-validate-btn:hover {
  background-color: darkred;
}

.verification-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  }
  
  .verification-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the form vertically */
    align-items: center;     /* Centers the form horizontally */
    background-color: rgb(255, 255, 255);
  }

  .button-container{
    background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  }


  .button-container .btn {
    margin-top: 10px; /* Ensure there's space between buttons */
  }
  
  /* Optional: Customize button colors if you're not using Bootstrap */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  /* src/css/verification.css */

